// Bootstrap and its default variables
@import "./variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";

*,
*::before,
*::after {
  box-sizing: border-box; 
}

.btn-link:hover,
a:hover {
  text-decoration: none;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 2px !important;
}
