// Bootstrap and its default variables
@import "./variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";

*,
*::before,
*::after {
  box-sizing: border-box; 
}


.btn-primary {
  color: $white;
}
.btn-primary:disabled {
  pointer-events: none;
  color: $gray-200;
}

.btn-primary,
.btn-outline-primary {
  @include hover {
    color: $white;
  }

  &:active {
    color: $white !important;
  }
}

.btn-link:hover,
.btn-link:focus,
a:hover,
a:focus {
  text-decoration: none;
}

.custom-checkbox .custom-control-label::before {
  border-radius: .125em !important;
  border-color: $gray-1000;
  border-width: .125em;
 }

.text-overline {
  font-weight: $font-weight-bold;
  font-size: $font-size-sm;
  letter-spacing: .04em;
  text-transform: uppercase;
}

.text-overline,
.text-caption {
  font-size: $font-size-base * .75;
}

// .text-serif {
//   font-family: $font-family-serif;
// }

.font-weight-semi-bold {
  font-weight: 500;
}

.clickable {
  cursor: pointer;
}
