@import "node_modules/bootstrap/scss/functions";

// Bootstrap Color Overrides
$primary: #464866;
$secondary: #666666;
$theme-blue: #464866;
$theme-blue-light: #d9efff;
$theme-grey: #666666;
$theme-green: #2a848a;
$theme-yellow: #fed19f;
$theme-cream: #fff0d9;
$theme-orange: #ff4500;
$medium: #dee2e6;

$theme-colors: (
  "medium": $medium
);

$font-family-sans-serif: 'Roboto', sans-serif;

@import "node_modules/bootstrap/scss/variables";
